.header-component {
   display:flex;
   justify-content: space-between;
   align-items: flex-end;   
   margin: auto;   
   width: 83.3%;
   height: 50px;
   border-bottom: solid 1.5px #1a2e40ff;
   /* background-color: yellow;  */
}


