.skills-component {
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.skills-component .skill {
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

.skills-component .skill img{
    height: 30px;
    margin-bottom: 10px;
}